### Loading and Describing Data with Pandas

In [1]:
# Read the file "LaborSupply1988.csv" into a pandas dataframe
import pandas as pd
df = pd.read_csv("LaborSupply1988.csv")  # df stands for DataFrame

In [2]:
# How many features (columns) and datapoints (rows) does the dataset have?
nr_rows, nr_cols = df.shape
print(nr_cols, "columns/features")
print(nr_rows, "rows/datapoints")

5 columns/features
532 rows/datapoints

In [3]:
# Which attributes does the dataset have?
print(df.columns)

Index(['lnhr', 'lnwg', 'kids', 'age', 'disab'], dtype='object')

In [4]:
# List the first 10 datapoints of the dataset
df.head(10)

   lnhr  lnwg  kids  age  disab
0  7.82  1.98     2   36      0
1  7.63  1.79     0   44      0
2  7.62  2.64     0   35      1
3  8.01  1.98     2   31      0
4  7.73  2.56     2   41      0
5  7.69  2.76     1   40      0
6  8.35  2.45     2   53      0
7  7.69  2.18     0   46      0
8  7.67  2.79     2   36      0
9  7.74  2.93     0   55      0

In [5]:
# What is the value range of the attribute "age"?
df_min = df["age"].min()
df_max = df["age"].max()
print("'age' feature ranges from", df_min, "to", df_max)

# You can also get a short summary of statistics via
#df["age"].describe()

'age' feature ranges from 31 to 60

In [6]:
# Calculate the average of log annual hours (lnhr) worked by the labourers with 0, 1, 2, ..., 6 kids each
df.groupby("kids")["lnhr"].mean()

kids
0    7.640549
1    7.681368
2    7.713586
3    7.678415
4    7.724500
5    7.760000
6    7.895000
Name: lnhr, dtype: float64

In [7]:
# Calculate the average number of kids of the 40 year olds.
v = df[df["age"] == 40]["kids"].mean()
print(v)

1.9705882352941178