In [4]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
import matplotlib.pyplot as plt

In [5]:
# Read in the data
df = pd.read_excel('e-commerce-dataset.xlsx', sheet_name='E_Comm')
df.to_csv('e-commerce_churn.csv', index=False)
df = pd.read_csv('e-commerce_churn.csv')

In [6]:
print(df.info())
df = df.dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB
None

In [9]:
df['Churn'] = df['Churn'].astype('category')

# Identify non-numeric columns
non_numeric_cols = df.select_dtypes(include=['object']).columns

# Apply one-hot encoding to non-numeric columns
df = pd.get_dummies(df, columns=non_numeric_cols, drop_first=True)
df

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,...,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,Gender_Male,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Married,MaritalStatus_Single
0,50001,1,4.0,3,6.0,3.0,3,2,9,1,...,0,0,0,0,1,0,0,0,0,1
3,50004,1,0.0,3,15.0,2.0,4,5,8,0,...,0,0,1,0,1,0,0,0,0,1
5,50006,1,0.0,1,22.0,3.0,5,5,2,1,...,0,0,0,0,0,0,1,0,0,1
11,50012,1,11.0,1,6.0,3.0,4,3,10,1,...,0,0,1,0,0,0,0,0,0,1
12,50013,1,0.0,1,11.0,2.0,3,3,2,1,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5624,55625,0,1.0,3,12.0,2.0,5,3,2,0,...,0,1,0,0,0,0,1,0,0,1
5625,55626,0,10.0,1,30.0,3.0,2,1,6,0,...,0,0,1,0,1,0,0,0,1,0
5627,55628,0,1.0,1,11.0,3.0,2,4,3,1,...,0,0,1,0,1,0,0,0,1,0
5628,55629,0,23.0,3,9.0,4.0,5,4,4,0,...,0,0,1,0,1,0,0,0,1,0
5629,55630,0,8.0,1,15.0,3.0,2,3,4,0,...,0,0,1,0,1,0,0,0,1,0

## Exercise T8.3 a)

Your colleague proposes to train the model on the entire dataset and argues to tune the n_estimators
and max_features parameters of sklearn.ensemble.RandomForestClassifier until the training
accuracy is maximized. Do you agree? If not, which issues can you identify with this approach?

What is the accuracy of your random forest model on the training dataset?

In [17]:
# Train a random forest model
train_model = RandomForestClassifier(n_estimators=5, max_features=3, random_state=42)

X = df.drop(columns=["Churn"])
y = df["Churn"]

train_model.fit(X, y)
y_pred = train_model.predict(X)

# Calculate accuracy
print(accuracy_score(y, y_pred), precision_score(y, y_pred))

0.9931107578166402 0.985553772070626

## Exercise T8.3 c)

Perform training, 4-fold cross-validation, and testing with a 60-20-20 % split in Python. Use the
precision as metric for model selection. Build a confusion matrix for the test set and report precision,
accuracy, and recall.

In [ ]:
# Train-test split
# TODO

# Define some Models
# TODO
# train_model_1 = RandomForestClassifier(...)
# train_model_2 = RandomForestClassifier(...)
# train_model_3 = RandomForestClassifier(...)

# Split features and labels
# TODO

# Perform cross-validation on all three models and choose the one with the highest
#  average precision (across all folds)
# TODO

# Train the final model (no cross-validation)
# TODO

# Report scores on final model
# TODO

In [ ]:
# Variable Importance Plot
# TODO

# Apply on test set
# TODO

In [ ]:
# Confusion Matrix
# TODO

# Precision, accuracy, recall
# TODO

### d)

Imputation should be based on train + val data. Should not LEAK data information to test set.