# Homework sheet 0: Data-IO

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Exercise H0.1 Loading and Describing Data with Pandas

a) Read "LaborSupply1988.csv" into a pandas dataframe.

In [2]:
df = pd.read_csv("LaborSupply1988.csv")
df.head()

   lnhr  lnwg  kids  age  disab
0  7.82  1.98     2   36      0
1  7.63  1.79     0   44      0
2  7.62  2.64     0   35      1
3  8.01  1.98     2   31      0
4  7.73  2.56     2   41      0

b) Determine the amount of attributes and datapoints inside the dataframe.

In [3]:
df.shape

(532, 5)

c) Which attributes does the dataset have?

In [4]:
df.columns

Index(['lnhr', 'lnwg', 'kids', 'age', 'disab'], dtype='object')

d) Have a look at the first 10 datapoints.

In [9]:
df.head(10)

   lnhr  lnwg  kids  age  disab
0  7.82  1.98     2   36      0
1  7.63  1.79     0   44      0
2  7.62  2.64     0   35      1
3  8.01  1.98     2   31      0
4  7.73  2.56     2   41      0
5  7.69  2.76     1   40      0
6  8.35  2.45     2   53      0
7  7.69  2.18     0   46      0
8  7.67  2.79     2   36      0
9  7.74  2.93     0   55      0

e) Determine the value range of the attribute "age".

In [11]:
df.age.min(), df.age.max()

(31, 60)

f) Compute the average of log annual hours (lnhr) worked by the labourers with 0, 1, . . ., 6 kids each.
Hint: .groupby()

In [21]:
df.groupby("kids").lnhr.mean()

kids
0    7.640549
1    7.681368
2    7.713586
3    7.678415
4    7.724500
5    7.760000
6    7.895000
Name: lnhr, dtype: float64

g) Compute the average number of kids of the 40 year olds.

In [37]:
print(f"{df[df.age == 40].kids.mean():.4}")

1.971

## Exercise H0.2 Plotting Data with Pandas and Matplotlib.Pyplot